/* Defaults */
* {
    border: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}

/* Flex classes */
html, body{
    height: 100%;
}

select, button {
    margin: 20px;
    border: 0.1px solid black;
    padding: 4px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.bb {
    border: 2px solid #FF9800; 
}

.bb h2 {
    background: #FF9800;
}

.bl {
    border: 2px solid black; 
}

.bl h2 {
    background: black;
}

.sm {
    border: 2px solid #009688; 
}

.sm h2 {
    background: #009688;
}

.fe {
    border: 2px solid #2196F3; 
}

.fe h2 {
    background: #2196F3;
}

.pi {
    border: 2px solid #F44336; 
}

.pi h2 {
    background: #F44336;
}

.principles {
    width: 600px;
    margin: 0 20px 20px 20px;
    padding: 0 0 10px 0 !important;
    display: block;
    background-color: white;    
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.principles h2 {
    color:white;
    padding: 10px;
}

.principles p {
    margin: 20px;
    padding: 5px 10px 0 10px;
}

.proposal {
    margin: 20px;
    display: inline-block;
    background-color: rgba(177, 177, 177, 0.22);
    width: 360px;
    border-radius: 0% 0% 5% 5%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.47);
}

.vertical.container {
    flex-flow: column;
}

.flex {
    flex: 1 1 auto;
}

#controls {
    padding: 5px;
}

.content {
    margin-left: 250px;
}

.content h1, .content div {
    padding: 20px;
    display: inherit;
}

.content h1 {
    text-align: center;
}

#map div {
    padding: 6px !important;
}

.quarter {
    float: left;
    width: 24.99999%;
}

.half {
    float: left;
    width: 49.99999%;
}

.third {
    float: left;
    width: 32.99999%;
}

.twothirds {
    float: left;
    width: 65.99999%; 
}

.sixth {
    float: left;
    width: 16.66666%;
}

.marginb10  {
    margin-bottom: 10px;
}

.flex-container {
    padding: 0.01em 16px;
}

.flex-container h4 {
    float: left;
    margin-top: 10px;
}

.clear, .flex-container:after {
    clear: both;
    content: "";
    display: table;
}

.left {
    float: left;
}

.full {
    padding: 0 !important;
    float: left;
    width: 100%;
}

.department {
    color: #FFFFFF;
    text-align: center;
}

.agency {
    display: inline-block;
    background-color: #E0F2F1;
    color: #000000;
    margin: 10px 0 10px 0;
}

.diagram {
    padding: 0 !important;
    display: block;
    overflow: auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.text_black {
    color: black;
}

.pad-2 {
    padding: 3px !important;
}

.dwhite {
    background-color: #F5F5F5;
}

.dblack {
    background-color: black;
}

.dblue {
    background-color: #3E50B4;
}

.dpink {
    background-color: #FF3F80;
}

.red {
    background-color: #F44336;
}

.blue {
    background-color: #2196F3;
}

.lteal {
    background-color: #E0F2F1;
}

.teal {
    background-color: #009688;
}

.orange {
    background-color: #FF9800;
}

.white {
    background-color: #FFFFFF;
}

.pad-24 {
    padding: 24px;
    overflow: hidden;
    max-height: 124px;
}

.large-font {
    font-size: 48px !important;
    /* Important required to override Font Awesome library. This is easily fixable with different fa-icon class. */
}

/* Basic layout */
header, footer {
    background-color: #616161;
    color: white;
    height: auto;
    text-align: center;
}

nav {
    background-color: bisque;
    width: 250px;
}

/* Section styling */
nav header span {
    text-align: center;
}

span {
    display: inline-block;
    padding: 8px;
}

.small {
    font-size: 10px;
}

.circle {
    border-radius: 100%;
}

main {
    background-color: ghostwhite;
}

nav {
    position: fixed;
    height: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    border-bottom: 1px solid gray;
    padding: 8px;
}

/* Specific ELements */
nav header a img, nav header a {
    height: 34.4px;
}

nav header {
    background-color: #000;
}

footer p {
    margin-top: 10px;
}

nav div {
    background-color: white;
}

nav div ul li img {
    /* width: 100px;
    height: auto; */
    /* FIXME: The image is not square so cannot be a perfect circle. */
    width: 72px;
    height: 58px;
    float: left;
}

nav div ul li span {
    float: left;
    line-height: 16px;
    padding-left: 20px;
}

nav div ul li span strong {
    padding-top: 200px;
}

nav div ul li:first-child {
    height: 90px;
    line-height: 45px;
    padding: 14px 14px 14px 34px !important;
    /* FIXME: Create a separate class for the sidebar elements below this. Then remove !important. */
}

nav div ul li:not(:first-child) {
    border: none;
}

main header:first-child {
    margin-left: 250px;
}

main header div a {
    color: inherit;
}

nav header a {
    color: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}